{
    "openapi": "3.0.0",
    "info": {
        "title": "Pedidos Chips",
        "description": "Api Pedidos Chips",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://ec2-107-20-22-188.compute-1.amazonaws.com"
        },
        {
            "url": "http://localhost:8000"
        },
        {
            "url": "http://ec2-107-20-22-188.compute-1.amazonaws.com"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Iniciar Sesión",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "4|i3hT5WlPnrA6D3ulyyfLx7PaTYSuIpLO4eOpAasr"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "firstname": {
                                                    "type": "string",
                                                    "example": "Estaurdo"
                                                },
                                                "middlename": {
                                                    "type": "string",
                                                    "example": "Luis"
                                                },
                                                "lastname": {
                                                    "type": "string",
                                                    "example": "Perez"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "mperez"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "perfil.png"
                                                },
                                                "last_login": {
                                                    "type": "string",
                                                    "example": "2023-05-12"
                                                },
                                                "type": {
                                                    "type": "number",
                                                    "example": "2"
                                                },
                                                "date_added": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:06"
                                                },
                                                "date_updated": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:23"
                                                },
                                                "fullname": {
                                                    "type": "string",
                                                    "example": "Estuardo Luis Perez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "example@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:23"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/carriers": {
            "get": {
                "tags": [
                    "Transportistas"
                ],
                "summary": "Listar transportistas",
                "operationId": "d5410200caf20e4bc509248bbd20e984",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/clients/search/{value}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Buscar clientes",
                "operationId": "4b1748fce160cc269121538590d5e3c1",
                "parameters": [
                    {
                        "name": "value",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/mypayments": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Lista los cobros de un usuario",
                "operationId": "2fda06b7bc1883b154b02981c9a0988c",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "payment_id": {
                                                "type": "string",
                                                "example": "1"
                                            },
                                            "cantidad": {
                                                "type": "string",
                                                "example": "2500.00"
                                            },
                                            "fecha_pago": {
                                                "type": "string",
                                                "example": "2023-07-14 06:14:14"
                                            },
                                            "cliente_id": {
                                                "type": "string",
                                                "example": "00554"
                                            },
                                            "tipo_abono": {
                                                "type": "string",
                                                "example": "Efectivo"
                                            },
                                            "vendedor_id": {
                                                "type": "string",
                                                "example": "6"
                                            },
                                            "foto": {
                                                "type": "string",
                                                "example": "http://domain/api/payments/photo/ddkdjdjadldfjldfadfdfsad.png"
                                            },
                                            "observaciones": {
                                                "type": "string",
                                                "example": "Cliente abona a factura no. xxxx"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/payments": {
            "post": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Crear cobro",
                "operationId": "5e2794ba3d3c64e70873367505e4a751",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "observaciones": {
                                        "description": "observaciones",
                                        "type": "string"
                                    },
                                    "cantidad": {
                                        "description": "cantidad",
                                        "type": "string"
                                    },
                                    "cliente_id": {
                                        "description": "cliente_id",
                                        "type": "string"
                                    },
                                    "foto": {
                                        "description": "foto de la visita",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "tipo_abono": {
                                        "description": "tipo_abono",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "22"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/typepayments": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Lista los tipos de abono",
                "operationId": "9a800687043bf71cae456dbb8f9c62c7",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "tipo_id": {
                                                "type": "string",
                                                "example": "1"
                                            },
                                            "descripcion": {
                                                "type": "string",
                                                "example": "Efectivo"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/payments/photo/{path}": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Obtener foto del cobro",
                "operationId": "4e9e8f0e47ae3e58e8c7f08e5252a429",
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar y buscar productos",
                "operationId": "b7a40d537e829bca5949c476679fb778",
                "parameters": [
                    {
                        "name": "filtro",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/myorders": {
            "get": {
                "tags": [
                    "Pedidos"
                ],
                "summary": "Listar mis pedidos",
                "operationId": "f9e87356f71a492238bcb67eb47e5861",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/sales/photo/{id}": {
            "get": {
                "tags": [
                    "Pedidos"
                ],
                "summary": "Ver foto de un pedido por id de registro",
                "operationId": "42ea324f486468666cf6f8f992284290",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/orders": {
            "post": {
                "tags": [
                    "Pedidos"
                ],
                "summary": "Crear Pedido",
                "operationId": "27c123f7ea40b01594fae6803c308978",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "client_id": {
                                        "description": "client_id",
                                        "type": "string"
                                    },
                                    "notes": {
                                        "description": "notes",
                                        "type": "string"
                                    },
                                    "total": {
                                        "description": "total",
                                        "type": "string"
                                    },
                                    "geolocalizacion": {
                                        "description": "geolocalizacion",
                                        "type": "string"
                                    },
                                    "forma_pago": {
                                        "description": "forma_pago",
                                        "type": "string"
                                    },
                                    "transporte": {
                                        "description": "transporte",
                                        "type": "string"
                                    },
                                    "foto": {
                                        "description": "foto del pedido",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "items": {
                                        "description": "items",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "22"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits": {
            "post": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Crear visita",
                "operationId": "2ff60d5091a706b6942379521ae9074f",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "observaciones": {
                                        "description": "observaciones",
                                        "type": "string"
                                    },
                                    "latitud": {
                                        "description": "latitud",
                                        "type": "string"
                                    },
                                    "longitud": {
                                        "description": "longitud",
                                        "type": "string"
                                    },
                                    "foto": {
                                        "description": "foto de la visita",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "example": "22"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits/photo/{path}": {
            "get": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Obtener foto de visita",
                "operationId": "3a37eea843c87088dcefe5a8fe7febcd",
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/myvisits": {
            "get": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Lista todas las visitas de un usuario",
                "operationId": "9a984962965afa7b44a3fe9d9962c601",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "observaciones": {
                                                "type": "string",
                                                "example": "Visita realizada hoy."
                                            },
                                            "latitud": {
                                                "type": "string",
                                                "example": "231231231"
                                            },
                                            "longitud": {
                                                "type": "string",
                                                "example": "342342333"
                                            },
                                            "foto": {
                                                "type": "string",
                                                "example": "public/ci9nAbrct9qqm9f3EPRC9djpk6b55Qy6eflfbagD.png"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "description": "Laravel Sanctum token authentication",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}