{
    "openapi": "3.0.0",
    "info": {
        "title": "Pedidos Chips",
        "description": "Api Pedidos Chips",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://ec2-107-20-22-188.compute-1.amazonaws.com"
        },
        {
            "url": "http://ec2-107-20-22-188.compute-1.amazonaws.com"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Iniciar Sesión",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "4|i3hT5WlPnrA6D3ulyyfLx7PaTYSuIpLO4eOpAasr"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "firstname": {
                                                    "type": "string",
                                                    "example": "Estaurdo"
                                                },
                                                "middlename": {
                                                    "type": "string",
                                                    "example": "Luis"
                                                },
                                                "lastname": {
                                                    "type": "string",
                                                    "example": "Perez"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "mperez"
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": "perfil.png"
                                                },
                                                "last_login": {
                                                    "type": "string",
                                                    "example": "2023-05-12"
                                                },
                                                "type": {
                                                    "type": "number",
                                                    "example": "2"
                                                },
                                                "date_added": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:06"
                                                },
                                                "date_updated": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:23"
                                                },
                                                "fullname": {
                                                    "type": "string",
                                                    "example": "Estuardo Luis Perez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "example@example.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2023-05-26 16:58:23"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits": {
            "get": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Lista todas las visitas",
                "operationId": "59bc502e31c31bcb9d32d86e06260de5",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "observaciones": {
                                                "type": "string",
                                                "example": "Visita realizada hoy."
                                            },
                                            "latitud": {
                                                "type": "string",
                                                "example": "231231231"
                                            },
                                            "longitud": {
                                                "type": "string",
                                                "example": "342342333"
                                            },
                                            "foto": {
                                                "type": "string",
                                                "example": "public/ci9nAbrct9qqm9f3EPRC9djpk6b55Qy6eflfbagD.png"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Crear visita",
                "operationId": "2ff60d5091a706b6942379521ae9074f",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "observaciones": {
                                        "description": "observaciones",
                                        "type": "string"
                                    },
                                    "latitud": {
                                        "description": "latitud",
                                        "type": "string"
                                    },
                                    "longitud": {
                                        "description": "longitud",
                                        "type": "string"
                                    },
                                    "foto": {
                                        "description": "foto de la visita",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "observaciones": {
                                                        "type": "string",
                                                        "example": "Visita realizada hoy."
                                                    },
                                                    "latitud": {
                                                        "type": "string",
                                                        "example": "231231231"
                                                    },
                                                    "longitud": {
                                                        "type": "string",
                                                        "example": "342342333"
                                                    },
                                                    "foto": {
                                                        "type": "string",
                                                        "example": "public/ci9nAbrct9qqm9f3EPRC9djpk6b55Qy6eflfbagD.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visitas/foto/{path}": {
            "get": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Obtener foto de visita",
                "operationId": "3ca6dcc20315f57dbb4b8ca6cc9ebb51",
                "parameters": [
                    {
                        "name": "path",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/myvisits": {
            "get": {
                "tags": [
                    "Visitas"
                ],
                "summary": "Lista todas las visitas de un usuario",
                "operationId": "9a984962965afa7b44a3fe9d9962c601",
                "responses": {
                    "200": {
                        "description": "ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "observaciones": {
                                                        "type": "string",
                                                        "example": "Visita realizada hoy."
                                                    },
                                                    "latitud": {
                                                        "type": "string",
                                                        "example": "231231231"
                                                    },
                                                    "longitud": {
                                                        "type": "string",
                                                        "example": "342342333"
                                                    },
                                                    "foto": {
                                                        "type": "string",
                                                        "example": "public/ci9nAbrct9qqm9f3EPRC9djpk6b55Qy6eflfbagD.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "description": "Laravel Sanctum token authentication",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}